:root {
    --body-bg-color: #121214;
    --text-color: #E1E1E6;
    --title-color: #04D361;
    --form-color: #A8A8A8;
    --bg-button-color: #8257e5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Spartan, Work Sans, sans-serif;
    background: #E5E5E5;
}

.container {
    position: relative;
    width: 72%;
    height: 48%;
    margin: 1% auto 0;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(2, 1fr));
}

.card {
    flex-basis: 2em;
    flex-grow: 1;
}

.left {
    position: absolute;
    width: 100%;
    max-width: 720px;
    height: 780px;
    background: #121214;
}

.logo-rocket {
    position: absolute;
    width: 389px;
    height: 94px;
    left: 30px;
    top: 50px;
}

.apresentation .title {
    color: var(--title-color);
    font-weight: 700;
    margin-top: 1rem;
}

.apresentation {
    position: absolute;
    width: 647px;
    height: 102px;
    left: 36px;
    top: 236px;
}

.apresentation .subtitle {
    color: var(--text-color);
    font-weight: 500;
    margin-top: 1rem;
}

.apresentation .texto {
    color: var(--text-color);
    font-weight: 400;
    margin-top: 1rem;
}

.newsletter {
    position: absolute;
    width: 798px;
    height: 84px;
    left: 2px;
    top: 32px;
    z-index: 10;
}

.newsletter h2 {
    position: absolute;
    width: 133px;
    height: 19px;
    left: 36px;
    top: 388px;
    font-family: 'Spartan';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 138.73%;
    color: #A8A8A8;
}

.newsletter .retangular {
    position: absolute;
    width: 5px;
    height: 48px;
    left: 36px;
    top: 424px;
    background: #04D361;
}

.newsletter input {
    position: absolute;
    width: 798px;
    height: 48px;
    left: 36px;
    top: 424px;
    filter: drop-shadow(4px 10px 15px rgba(0, 0, 0, 0.5));
}

.newsletter button {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 786px;
    top: 424px;
    background: url(./assets/send.svg);
    background-color: #8257e5;
    cursor: pointer;
}

.to-read {
    position: absolute;
    width: 196px;
    height: 24px;
    left: 40px;
    top: 532px;
    color: #8257e5;
    cursor: pointer;
}

.to-read .icon-send {
    background: url(./assets/arrow-right.svg);
    color: #8257e5;
}

.logo-rocket img {
    position: absolute;
    width: 389px;
    height: 94px;
    left: 30px;
    top: 50px;
}

.right {
    width: 1175px;
}

.right img {
    width: 1175px;
    height: 780px;
    top: 0px;
    left: 40px;
}